<!-- so_well/templates/footer.html -->
<footer class="footer mt-auto py-3 bg-light">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-12 footer-container">
                <ul class="footer-links d-inline-block">
                    <li><a href="https://github.com/HenselForCongress/jack/issues" target="_blank">Report a Bug</a></li>
                    <li><a href="https://github.com/HenselForCongress/jack/issues" target="_blank">Suggest an Improvement</a></li>
                    <li><a href="https://github.com/HenselForCongress/jack/blob/main/LICENSE" target="_blank">License</a></li>
                    <li><a href="https://github.com/HenselForCongress/jack" target="_blank">GitHub</a></li>
                    <li><a href="https://henselforcongress.com/" target="_blank">Donate</a></li>
                </ul>
                <div class="paidForBox">
                    Paid for by Hensel For Congress
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
