<!-- so_well/templates/index.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voter Verification</title>
    <link rel="stylesheet" href="http://localhost:3000/static/css/main.css"> <!-- React CSS -->
</head>

<body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
    <script src="http://localhost:3000/static/js/main.js"></script> <!-- React JS -->
</body>

</html>
