/* Entry Page Styles | so_well/static/css/entry.css */
/* ---------------------------------------------------------- */

.short-input {
    max-width: 100px;
}

.container-fluid {
    margin: 20px;
}

.form-container {
    max-height: calc(100vh - 60px);  /* Adjust according to header height */
    overflow-y: auto;
}

.search-section {
    position: sticky;
    top: 60px;  /* Adjust according to header height */
}

.clickable-label {
    cursor: pointer;
    color: #007bff;
}

.dropdown-options {
    border: 1px solid #ddd;
    background: white;
    max-height: 200px;
    overflow-y: auto;
    display: block;
    position: absolute;
    z-index: 1000;
    padding: 10px;
}

.d-none {
    display: none;
}
